.wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  align-items: center;
  justify-content: center;
}

.imageWrapper {
  max-width: 600px;
  overflow: hidden;
  animation: mirror 2s reverse;
}

.aboutText {
  font-size: 2rem;
  font-weight: 700;
}

@keyframes mirror {
  to {
    transform: scale(-1, 1);
  }
}
