@import 'src/styles/variables';

.footer {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $primaryColor;
}

.imageWrapper {
  max-width: 40px;
}

img {
  width: 100%;
}
