.inputWrapper {
  display: flex;
  column-gap: 1rem;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.input {
  min-width: 350px;
  min-height: 40px;
  border-radius: 10px;
  padding: 10px;
  border-color: blueviolet;
  color: blueviolet;
  font-size: 1.5rem;
}

.input::placeholder {
  color: blueviolet;
  font-size: 1.5rem;
  font-style: italic;
}
.button {
  outline: none;
  border: none;
  background: url('https://www.iconpacks.net/icons/2/free-search-icon-3076-thumb.png') no-repeat
    left top;
  background-size: contain;
  width: 50px;
  height: 50px;
  cursor: pointer;

  &:hover {
    transform: scale(1.2);
  }

  &:active {
    transform: scale(0.8);
  }
}
